<p>
  <b>Zip:</b>
  <%=h @cbu.zip %>
<p/>
<p>
  <b>Address:</b>
  <%=h @cbu.address %>
</p>
<p>
  <b>route number:</b>
  <%=h @cbu.route_number %>
</p>
<p>
  <b>Info:</b>
  <%=h @cbu.info %>
</p>
<p>
  <b>Mode:</b>
  <%=h @cbu.mode %>
</p>
<p>
  <b>cbu type:</b>
  <%=h @cbu.cbu_type %>
</p>
<p>
  <b>postal purchase:</b>
  <%=h @cbu.postal_purchase %>
</p>
<p>
  <b>prvt purchase:</b>
  <%=h @cbu.prvt_purchase %>
</p>
<p>
  <b>nbu type:</b>
  <%=h @cbu.nbu_type %>
</p>
<p>
  <b>route number:</b>
  <%=h @cbu.route_number %>
</p>
<p>
  <b>nbu number:</b>
  <%=h @cbu.nbu_number %>
</p>
<p>
  <b>parcel locker:</b>
  <%=h @cbu.parcel_locker %>
</p>
<p>
  <b>res deliveries:</b>
  <%=h @cbu.res_deliveries %>
</p>
<p>
  <b>bus deliveries:</b>
  <%=h @cbu.bus_deliveries %>
</p>
<p>
  <b>month installed:</b>
  <%=h @cbu.mth_installed %>
</p>
<p>
  <b>year installed:</b>
  <%=h @cbu.yr_installed %>
</p>
<p>
  <b>latitude:</b>
  <%=h @cbu.lat %>
</p>
<p>
  <b>longitude:</b>
  <%=h @cbu.lng %>
</p>


<%= link_to 'Edit', edit_cbu_path(@cbu) %> |
<%= link_to 'Back', cbus_path %>