<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @pagetitle%></title>
  <%= stylesheet_link_tag 'pages' %>
  
</head>
<body>
		<div id='pagewrapper'>
			<div id='header'>
				<p>Maintenance CBU Repair Request Application</p>
		  </div>
			<div id='navbar'>
				<ul>
					<li><%= link_to 'Home', {:controller => 'pages', :action => 'home'} %></li>
					<li><%= link_to 'Resources', {:controller => 'pages', :action => 'resources'} %></li>
			    <li><%= link_to 'About Us', {:controller => 'pages', :action => 'about'} %></li>
			    <li><%= link_to 'Contact Us', {:controller => 'pages', :action => 'contact'} %></li>
				</ul>

</div>
		<div id='content'>
	<%= yield %>
</div>
		<div id='footer'>
			<p>Learning Rails Sample Application</p>
		</div>
</body>
</html>

